/* 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)  */
@media (max-width: 575px) {
  .container {
    width: 100vw !important;
    height: 100vh !important;
    max-width: unset !important;
  }
  .container .ant-layout {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
  }
}
