* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.ant-list-item-meta-avatar {
  margin-top: 1px;
}

.toastui-editor-contents h1,
.toastui-editor-contents h2 {
  border-bottom: none !important;
}

.ant-layout-header {
  padding: 0 24px !important;
}
